.checkout{
    display: flex;
    padding: 20px;
    background-color: white;
    height: max-content;
}
.checkout_titile{
    margin-right: 10px;
    padding: 10px;
    border-bottom: 1px solid lightgray;
}

.checkout_ad{
    width: 100%;
    margin-bottom: 10px;
    
}

@media screen and (max-width: 701px) {
    .checkout{
        flex-wrap: wrap;
    }
    
}
@media screen and (max-width: 411px) {
    .checkout_ad{
        width: 100%;
        
        
    }
    
}