.home{
    display: flex;
    flex-direction: column;
    justify-content: center;

 
}
.home_row{
    display: flex;
    z-index: 1;
    margin-left: 5px;
    margin-right: 5px;
    margin-left: auto;
    margin-right: auto;
    max-width:  90%;
    /* border: 2px solid red; */

}
.home_container{
     position: relative;
     display: flex;
     justify-content: center;
     align-items: center;
}
.right-arrow{
    position: absolute;
    top :50%;
    right: 32px;
    font-size: 3rem;
    z-index: 10;
    cursor: pointer;
    user-select: none;
}
.left-arrow{
    position: absolute;
    top :50%;
    left: 32px;
    font-size: 3rem;
    z-index: 10;
    cursor: pointer;
    user-select: none;
}
.slide{
    opacity: 0;
    transition-duration: 1s ease;
}
.slide.active{
    opacity: 1;
    transition-duration: 2s ;
    transform: scale(1.08);
    text-align: center;


}
.favItems{
    position: absolute;
    right: 32px;
    width: 10px;
    font-size: 20px;
    transform: scale(1.8);
    top:5%;
    z-index: 10;
    cursor: pointer;
    user-select: none;
}

.home_image{
    width: 100%;
    height: 100%;
    z-index: -1;
    margin-bottom: -100px;
    mask-image:  linear-gradient(to bottom,rgb(0, 0, 0), rgba(0, 0, 0, 0));
}


@media screen and (max-width: 578px) {

    .home_row{
       flex-wrap: wrap;
    }
    
    .home_image{
        width: 100%;
        height: 100%;
        margin-bottom: -10px;

    }
    
    
}
